<div ng-controller="homeController" class='row'>

    <div id='home_left' class='col-lg-3'>
        <div class='col-lg-3' id='user_info_left'>
            <div id='profil_pic_and_name'>
                <img style='border-radius: 50%' width='100px' height="100px" src="{{profilePicture}}" alt="">
                <h3> {{username}} </h3>
            </div>

            <div id='infoKwaks'>
                <p>
                    <span>Kwaks {{numberOfKwaks}}</span>
                    <span>Following {{numberOfFollowing}}</span>
                    <span>Followers {{numberOfFollowers}}</span>
                </p>
            </div>
        </div>
        <div class='col-lg-3' id='trends'>
            <h3>Trends for you</h3>
            <p>{{username}}</p>
            <p>{{group2}}</p>
            <p>{{group3}}</p>
            <p>{{group4}}</p>
            <p>{{group5}}</p>
        </div>
    </div>
    <div id='home_center' class='col-lg-6'>
        <div id='post_from_home' ng-show="!writePost" class='col-lg-6'>
            <span>
                <img width='26px' height='26px'style='border-radius: 50%' src="{{profilePicture}}" alt="">
            </span>
            <input id='postInput' accept="image/gif,image/jpeg,image/jpg,image/png,video/mp4,video/x-m4v" ng-click="writePost = !writePost"
                type="text" placeholder="What`s happening?">
        </div>
        <div ng-controller="newKwak" class='post_from_home' ng-show="writePost" ng-hide="!writePost" id='' class='col-lg-6'>
            <form action="">
                <span>
                            <img width='26px' height='26px'style='border-radius: 50%' src="{{profilePicture}}" alt="">
                        </span>
                <input ng-model='kwakPost' id='kwakPost' type='text' placeholder="What`s happening?" class='col-lg-6'>
                <input ng-model='image' id='image' type="text" placeholder="Add image">
                <input ng-model='video' id='video' type="text" placeholder="Add video">
                <input ng-model='date' id='date' type="text">
                <button ng-click="writePost = !writePost">Remove this kwak</button>
                <button type='submit'>Kwak</button>
            </form>
        </div>


        <div id='mainKwaks' class='col-lg-6'>
            <article>
                <div>
                    <img src="" alt="Profile img">
                    <div>{{user.username}} {{post.date}}</div>
                </div>
                <!-- dropping menu -->
                <div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class='textHolder'>
                    <!-- text -->{{post.text}}
                </div>
                <!-- IMG -->
                <div class='imageHolder'>
                    <div class='img'>
                        {{post.img}}
                    </div>
                </div>
                <!-- Video -->
                <div class='videoHolder'>
                    {{post.video}}
                </div>
                <!--  -->
                <footer>
                    <div class='buttonWrapper'>
                        <img src="" alt="Comment">
                        <span>coment count</span>
                        <img src="" alt="Rekwak">
                        <span>rekwak count</span>
                        <img src="" alt="Like">
                        <span>like count</span>
                        <img src="" alt="Direct Messege">
                    </div>
                </footer>
            </article>
        </div>
    </div>

    <div id='home_right' class='col-lg-3'>
        <h3>Who to follow</h3>
    </div>
</div>
<script src="javascript/ngModules.js"></script>
<script src="controllers/homeController.js"></script>