<div ng-controller="homeController" class='row'>

    <div id='home_left' class='col-lg-3'>
        <div class='col-lg-3' id='user_info_left'>
            <div id='profil_pic_and_name'>
                <img style='border-radius: 50%' width='100px' height="100px" src="{{profilePicture}}" alt="">
                <h3> {{username}} </h3>
            </div>

            <div id='infoKwaks'>
                <p>
                    <span>Kwaks {{posts.length}}</span>
                    <span>Following {{numberOfFollowing}}</span>
                    <span>Followers {{numberOfFollowers}}</span>
                </p>
            </div>
        </div>
        <div class='col-lg-3' id='trends'>
            <h3>Trends for you</h3>
            <p>{{username}}</p>
            <p>{{group2}}</p>
            <p>{{group3}}</p>
            <p>{{group4}}</p>
            <p>{{group5}}</p>
        </div>
    </div>
    <div id='home_center' class='col-lg-6'>
        <div id='post_from_home' ng-show="!writePost" class='col-lg-6'>
            <span>
                <img width='26px' height='26px' style='border-radius: 50%' ng-src="{{profilePicture}}" alt="">
            </span>
            <input id='postInput' accept="image/gif,image/jpeg,image/jpg,image/png,video/mp4,video/x-m4v" ng-click="writePost = !writePost"
                type="text" placeholder="What`s happening?">
        </div>
        <div id='formWrap' ng-controller="newKwak" class='post_from_home' ng-show="writePost" ng-hide="!writePost" id='' class='col-lg-6'>
            <span>
                <img width='26px' height='26px' style='border-radius: 50%; float: left;' src="{{profilePicture}}" alt="">
            </span>
            <form id='postForm' action="" ng-submit="submitKwak()">
                <input class='postInput' ng-model='text' id='text' type='text' placeholder="What`s happening?" class='col-lg-6'>
                <input class='postInput' ng-model='image' id='image' type="text" placeholder="Add image">
                <input class='postInput' ng-model='video' id='video' type="text" placeholder="Add video">
                <input class='postInput' ng-model='date' id='date' type="text" placeholder="Add location">
                <button ng-click="writePost = !writePost">Remove this kwak</button>
                <button type='submit'>Kwak</button>
            </form>
        </div>


        <div id='mainKwaks' class='col-lg-6' data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
            <article ng-repeat="post in posts">
                <div ng-show='shareP($index)' ng-hide="!shareP($index)">
                    <div class='blackBackground' ng-click="hideShare($index)"></div>
                    <div class="shareForm">
                        <p>Rekwak</p>
                        <div>
                            <input type="text" name="postData.description" ng-model='postData.description' placeholder="Description">
                            <button ng-click="share(post)">Rekwak</button>
                        </div>
                    </div>
                </div>
                <div>
                    <img width='36px' style='float:left; border-radius: 50%;' ng-src="{{profilePicture}}" alt="">
                    <p>
                        <span class='postUsername'>
                            {{post.username}}
                        </span>
                        <span class="postDate">
                            {{post.date}}
                        </span>
                    </p>
                </div>
                <!-- dropping menu -->
                <!-- <div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div> -->
                <div class='postContentWrapper'>
                    <div class='textHolder'>
                        <p>{{post.text}}</p>
                        <p>{{post.sharedText}}</p>
                    </div>
                    <!-- IMG -->
                    <div class='imageHolder' ng-show='showImg(post)'>
                        <div class='img'>
                            <img ng-src="{{post.image}}" alt="">
                        </div>
                    </div>
                    <!-- Video -->
                    <!-- <div class='videoHolder' ng-show='showVideo(post)'>
                        <iframe ng-src="" frameborder="0" allowfullscreen></iframe>
                    </div> -->
                    <!--  -->
                </div>
                <!-- COMMENT -->
                <div ng-show="showComments" class='commentTable'>
                    <table ng-repeat="comment in post.comments" class='comment'>
                        <thead>
                            <tr>
                                <td>
                                    <img style='border-radius: 50%' width='30px' ng-src='{{comment.url}}' />
                                    <span class='commentUser'>{{comment.username}}</span>
                                    <span class='commentDate'>{{comment.date}}</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class='commentText'>{{comment.text}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form ng-submit="submitReplay(post)" class='commentForm'>
                        <input type="text" id='comm' ng-model='commentData.comm' placeholder="Kwak your reply">
                        <button type='submit'>Reply</button>
                    </form>
                </div>
                <hr>
                <footer>
                    <div class='buttonWrapper'>
                        <img src="images/comment-white-oval-bubble.png" ng-click='showComments()' width="20px" alt="Comment">
                        <span>{{post.comments.length}}</span>
                        <img src="images/share.png" ng-click='showShare($index)' width="20px" alt="Rekwak">
                        <span>{{post.shares}}</span>
                        <!-- <div class="heart"></div> -->
                        <img src="images/like.png" ng-click='plusOneLike(post._id)' width="20px" alt="">
                        <span>{{post.likes}}</span>
                        <img src="images/envelope (1).png" width="20px" alt="Direct Messege">
                    </div>
                </footer>
                <hr>
        </div>

    </div>

    <hr>
    </article>
    <div id='home_right' class='col-lg-3'>
        <h3>Who to follow</h3>
        <table ng-init='showAllUsers()'>
            <tr ng-repeat="user in users">
                <td>
                    <img style='border-radius: 50%' width='100px' ng-src='{{user.url}}' />
                </td>
                <td>{{user.username}}</td>
            </tr>
        </table>
    </div>
</div>
<script src="javascript/ngModules.js"></script>
<script src="controllers/homeController.js"></script>