<div ng-controller="login" id='loginWrapper'>
    <form ng-submit="submitLogin()" method='POST'>
        <span class='titleText'>Login</span>
        <div id='username'>
            <input id='email' class='regInputs' ng-model='email' type="text" placeholder="Email" >
        </div>
        <div id='pass'>
            <input id='password' class='regInputs' ng-model='password' type="password" placeholder="Password" >
        </div>
        <input name='remember' type="checkbox">
        <label for="remember">Remember me.</label>
        <span>
            <a href="">Forgot password?</a>
        </span>
        <div>
            <button type='submit'>Login</button>
            <a href="./#!/register"><button>Registration</button></a>
        </div>
    </form>
</div>