#loginWrapper{
    position: absolute;
    left: 40%;
    text-align: center;
    top: 35%;
    line-height: 2em;
}
#username{
    padding-bottom: 10px;
}
#pass{
    padding-bottom: 10px;
}
#loginText{
    font-size: 24px;
    /* margin: auto; */
    display: block;
    margin: auto;
    text-align: center;
}
#registrationForm{
    line-height: 2em;
    position: absolute;
    top: 33%;
    left: 42%;
    text-align: center;
}
.regInputs{
    margin: 4px;
    display: block;
    border-radius: 20px;
    padding: 5px;

}