#loginWrapper{
    position: absolute;
    left: 40%;
    text-align: center;
    top: 35%;
    line-height: 2em;
}
#username{
    padding-bottom: 10px;
}
#pass{
    padding-bottom: 10px;
}
.titleText{
    font-size: 36px;
    margin-bottom: 16px;
    /* margin: auto; */
    display: block;
    /* margin: auto; */
    text-align: center;
}
#registrationForm{
    line-height: 2em;
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
}
.regInputs{
    margin: 4px;
    display: block;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid #FFCE54;
    width: 244px;

}