body{
    font-family: 'PT Sans', sans-serif;
}
#mainNavDiv{
    position: fixed;
    margin-top: -36px;
    z-index: 5;
    width: 100%;  
}
#mainNav{
    box-sizing: border-box;
    background-color: #2d2b2d;
    border-bottom: 4px solid #FFCE54;
    padding: 14px;
    padding-right: 7%;
    padding-left: 7%;
    height: 56px;
}
.navDiv{
    float: left;
    margin-left: 11px;
    height: 55px;
    text-align: center;
    position: relative;
    top: -17px;
    /* padding: 17px; */
    padding-top: 19px;
    width: 125px;
}
.navDiv:hover{
    background-color: goldenrod;
    cursor: pointer;
}

#homeButtons{
    display: inline-block;
    height: 100%;
}
.navSpan{
    /* color: #D8BB3D */
    color: #FAEBD7;
}

#duckIcon{
    display: inline-block;
    position: absolute;
    left: 49%;
}
#navWrapper{
    box-sizing: border-box;
}
#searchBar{
    float: right;
    /* position: relative; */
    /* left: 15%; */
}
#searchInput{
    box-sizing: border-box;
    border-radius: 20px;
    height: 26px;
    width: 221px;
    padding: 5px;
    background-color: #FAEBD7;
    color: black;
}
#searchString{
    border-radius: 15px;
    padding: 3px;
    background-color: antiquewhite;
    border: 1px solid #FFCE54;
}
#instantSearchCtrl{
    position: absolute;
    right: 16%;
}
#searchIcon{
    width:18px;
    height: 18px;
    position: relative;
    left: -33px;
    top: 5px;
}
#navProfile{
    top: 32.5px;
    left: 3%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    left: 75%;
    top: 8.2%;
}
#profileOptions{
    box-sizing: border-box;
    background-color: #797679;
    padding: 10px;
    line-height: 2.2em;
    color: antiquewhite;
    font-size: 1.1em;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    margin-top: 3px;
}
#whiteAvatar, #whiteMenu, #whiteMegaphone, #whiteBar-chart, #whiteFlash, #homeMain, #notificationMain, #messageMain {
    display: none;
}
#kwakContainer{
    float: right;
}
#kwakBut{
    box-sizing: border-box;
    padding: 5px;
    border-radius: 20px;
    width: 72px;
    height: 32px;
    margin-bottom: 4px;
}
#navProfilePicContainer{
    float: right;
    margin-right: 4px;
}
#navProfile{
    display: none;
}
#rightSideNavWrapper{
    float: right;
}
body{
    background-image: url('footer_lodyas.png');
    color: antiquewhite;
}
input{
    outline: none;
    color: black;
}
button{
    outline: 0;
    color: black;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-style: none;
    background-color: #FFCE54
}
a, a:hover{
    text-decoration: none;
    color: antiquewhite;
}
.data-ctrl{
    background-color: antiquewhite;
    margin-top: -1px;
    width: 88%;
    /* text-align: center; */
    margin-left: 11px;
    border-left: 1px solid #FFCE54;
    border-right: 1px solid #FFCE54;
    border-bottom: 1px solid #FFCE54;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
}
