.postContentWrapper{
    margin: 25px;
    padding: 5px;
    line-height: 1.2em;
}
.imageHolder{
    text-align: center;
    margin-top: 5px;
}
.imageHolder img{
    width: 100%;
    border-radius: 5px;
}
.buttonWrapper img{
    cursor: pointer;
}
.postUsername{
    margin-left: 9px;
    vertical-align: text-top;
    font-size: 24px;
}
.postDate{
    opacity: 0.5;
    vertical-align: text-top;
    font-size: 12px;
}
.postUsername:hover{
    opacity: 0.7;
    cursor: pointer;
}