#wrapper{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding-top: 40px;
}
#profil_pic_and_name img{
    float: left;
}
#infoKwaks{
    display: inline-block;
}
#user_info_left{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100%
}
#trends{
    border: 1px solid #FFCE54; 
    max-width: 100% 
}
#trends p{
    margin: 2%;
}
#home_left{
    float: left;
    max-width: 100%
}
.row>ul>li{
    display: inline;
}
#home_center{
    max-width: 100%;
    height: 30%
}
#post_from_home img{
    float: left;
}
#post_from_home input{
    width: 90%;
}   
#mainKwaks{
    border: 1px solid #FFCE54; 
    max-width: 100%      
} 
#post_from_home{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100%          
}
#post_from_home img{
    float: left;
    margin-right: 6px;
}
#postInput{
    border-radius: 7px;
    border: 1px solid #FFCE54;
    padding: 3px;
    margin-left: 5px;
    background-color: antiquewhite;
    word-wrap: break-word;
    white-space: nowrap;
    outline: none;
    color: black;
    
}
#home_right{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100% ;
    margin-top: 9px;
}
.col-lg-3, .col-lg-6{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
#postDate{
    display: none;
}
#postForm{
    text-align: right;
}
.postInput{
    border-radius: 9px;
    padding: 4px;
    margin: 4px;
    width: 230px;
    border: none;
    border: 1px solid #FFCE54;
    background-color: antiquewhite;
}
#formWrap{
    display: inline-block;
    height: 100%;
    border: 1px solid #FFCE54;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 5px;
}
#imageUp{
    width: 83%;
}
#profilePic{
    cursor: pointer;
}
.userP{
    cursor: pointer;
}
.whoToFollowInfo{
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}
.whoToFollowInfo button{
    margin-top: 5px;
    height: 25px;
    width: 155px;
}
.whoToFollowInfo p{
    font-size: 16px;
    font-weight: bold;
    color: antiquewhite;
}
.whoToFollowInfo button:hover{
    background: goldenrod;
}
#whoToFollow{
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
}
#imageUp{
    background: none;
    border: none;
}
#submitImg{
    background: none;
    border: none;

}
.inputFile{

        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
}
#labelForFileInput{
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    background: #FFCE54;
    color: black;
    border-radius: 15px;
    padding: 8px;
    width: 130px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 4px;
}
#submitImgBut{
    margin-left: 5px;
    width: 130px;
    height: 32px;
}
#usernameCss{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
#profileButtons{
    
    text-align: center;
    margin: 4px;
    margin-top: 14px;
}
.profileButtons{
    font-size: 15px;
    
}
