#wrapper{
    width: 80%;
    margin: auto;
    margin-top: 2em;
}
#profil_pic_and_name img{
    float: left;
}
#infoKwaks{
    display: inline-block;
}
#user_info_left{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100%
}
#trends{
    border: 1px solid #FFCE54; 
    max-width: 100% 
}
#trends p{
    margin: 2%;
}
#home_left{
    float: left;
    max-width: 100%
}
.row>ul>li{
    display: inline;
}
#home_center{
    max-width: 100%;
    height: 30%
}
#post_from_home img{
    float: left;
}
#post_from_home input{
    width: 90%;
}   
#mainKwaks{
    border: 1px solid #FFCE54; 
    max-width: 100%      
} 
#post_from_home{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100%          
}
#post_from_home img{
    float: left;
    margin-right: 6px;
}
#postInput{
    border-radius: 7px;
    border: 1px solid #FFCE54;
    padding: 3px;
    background-color: antiquewhite;
    word-wrap: break-word;
    white-space: nowrap;
    outline: none;
    color: black;
    
}
#home_right{
    border: 1px solid #FFCE54;
    display: inline-block;
    max-width: 100% ;
    margin-top: 9px;
}
.col-lg-3, .col-lg-6{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}